<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--控制台 输出-->
	<appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] [%-5p] %c{2} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	
	<appender name="LOG.Project" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${commons.monitor.log.dir}/commons-monitor.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="WARN"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d] [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

	<appender name="LOG.Project-Debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${commons.monitor.log.dir}/commons-monitor-debug.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d] [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

	<appender name="LOG.IBatis" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${commons.monitor.log.dir}/commons-monitor-ibatis.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d] [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

	<logger name="com.shengpay.ppc" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Debug" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="org.apache.activemq" additivity="false">
		<level value="INFO" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="WARN" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.IBatis" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="com.oracle" additivity="false">
		<level value="INFO" />
		<appender-ref ref="LOG.IBatis" />
		<appender-ref ref="LOG.Console" />
	</logger>
	
	<logger name="org.apache.commons.httpclient" additivity="false">
		<level value="WARN" />
        <appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="com.danga.MemCached" additivity="false">
		<level value="INFO" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Console" />
	</logger>
	
	<logger name="org.apache.cxf" additivity="false">
		<level value="INFO" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Debug" />
		<appender-ref ref="LOG.Console" />
	</root>

</log4j:configuration>

