<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--控制台 输出-->
	<appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss,SSS}] [%-5p] %c{2} - %m%n" />
		</layout>
	</appender>
	
	<appender name="LOG.Project" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="~/logs/jmscustomer/jmscustomer.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d] [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

	<appender name="LOG.Project-Error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="~/logs/jmscustomer/jmscustomer-error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="false"/>
        <param name="threshold" value="ERROR"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d] [%-5p] %c{2} - %m%n" />
        </layout>
    </appender>

	<logger name="com.shengpay.commons.jmscustomer" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="org.apache.activemq" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="com.oracle" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>
	
	<logger name="org.apache.commons.httpclient" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<logger name="com.danga.MemCached" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>
	
	<logger name="org.apache.cxf" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="LOG.Project" />
		<appender-ref ref="LOG.Project-Error" />
		<appender-ref ref="LOG.Console" />
	</root>

</log4j:configuration>

